<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block title %}Index{% endblock title %}
    {% block header %}Главная страница{% endblock header %}
    {% block content%}
    <p>Категории продуктов</p>
    {% for i in cat %}
     <li>{{ i }}</li>
     {% empty %}
     <li>Категории продуктов отсутствуют</li>
     {% endfor %}
    {% with name="ЧАЙХАНА" nom=1 %}
     <div>
     <p>При магазине работает {{ name }}</p>
     <p>Номер № {{ nom }}</p>
     </div>
    {% endwith %}
    {% endblock content %}
</body>
</html>